th{
    font-weight:bold;
    font-size:13pt;
}
td{
    font-size:12pt;
}
div.holding_table{
    margin:30px;
}
div.wrapper>a{
    background:rgb(0,154, 199);
    color:rgb(241, 244, 248);
    font-size:18pt;
    padding:8px 18px;
    border-radius:8px;
    width:fit-content;
    display:block;
    margin:auto;
}
div.wrapper>a:hover{
    background:rgb(0, 112, 146);
    color:rgb(191, 194, 197);
    text-decoration:none;
}
div.holding_table>p.green{
    color:rgb(0, 168, 0);
    font-style:italic;
    font-size:14pt;
}
img.product_image{
    height:180px;
    width:180px;
}
