*{
    font-family: 'Proxima Nova', Georgia, sans-serif;
}
div.wrapper{
    background:rgb(241,244,248);
}
div.header{
    background:rgb(60,76,91);
    padding:5px 0px;
}
div.header p{
    color:rgb(241,244,248);
    font-size:32pt;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    /* margin:auto; */
    /* width:fit-content; */
    text-align:center;
}
div.header img{
    width:200px;
    float:left;
    margin-top:10px;
}
div.login_box{
    display:block;
}
div.login_box form{
    /* background:rgb(51,51,51); */
    background:rgb(79,91,106);
    width:fit-content;
    margin:auto;
    padding:20px 40px;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:30px;
}
div.login_box form *{
    display:block;
    font-size:14pt;
}
div.login_box form p{
    color:rgb(241,244,248);
    margin:15px 0px;
}
div.login_box form input{
    width:275px;
    margin:15px 0px;
    border-radius:5px;
    padding:3px;
}
div.login_box form input.submit{
    margin:auto;
    margin-top:40px;
    width:fit-content;
    padding:6px 30px;
    border-radius:5px;
    background:rgb(0,154,199);
    /* background:rgb(74, 144, 226); */
    color:rgb(241,241,241);
    border:none;
}
div.login_box form input.submit:hover{
    background:rgb(0, 132, 172);
    color:rgb(199, 199, 199);
}
div.wrapper>p{
    font-size:28pt;
    text-align:center;
    margin-top:20px;
    font-weight:bold;
}
div.footer{
    background:rgb(51,51,51);
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}
div.footer p{
    color:rgb(241,241,241);
    font-size:13pt;
}
div.colors input.color{
    margin-top:10px;
    margin-bottom:15px;
}