<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothing Dojo</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_dojo/css/cdHeaderCSS.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_dojo/css/clothingDojo_mainCSS.css' %}'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static 'clothing_dojo/css/proxima_nova/fonts/fonts.css' %}'/>
    <script>
        function checkWidth(){
            var width=$(window).width();
            if(width>=1024){
                $('.claim_shirt img').attr('src', '{% static 'clothing_dojo/images/claim_3.jpg' %}');
            }
            else{
                $('.claim_shirt img').attr('src', '{% static 'clothing_dojo/images/closeup.png' %}');
            }
        }
        $(document).ready(function(){
            checkWidth();     
            $(window).resize(function(){
                var width=$(window).width();
                if(width>=1024){
                $('.claim_shirt img').attr('src', '{% static 'clothing_dojo/images/claim_3.jpg' %}');
                }
                else{
                    $('.claim_shirt img').attr('src', '{% static 'clothing_dojo/images/closeup.png' %}');
                }
            });
        });
    </script>
</head>
<body>
    <div class='wrapper'>
        <div class='header'>
            <img src='{% static 'clothing_admin/images/logo.png' %}'>
            <p class='title'>Clothing Dojo</p>
        </div>
        <div class='navbar'>
            <a class='cart' href='/cart/'><img src='{% static 'clothing_dojo/images/cart.png' %}' alt='Cart'></a>
            <a class='orders' href='/viewOrders/'>ORDERS</a>
            <a class='platform' href='/logout/'>PLATFORM</a>
            <p>Welcome, {{user.first_name}}</p>
        </div>
        <div class='body'>
            <div class='claim_shirt'>
                <img src='{% static 'clothing_dojo/images/claim_2.png' %}' alt='Image of the Coding Dojo T-Shirt'>
                <a href='/claim/'>Claim Free Shirt Now!</a>
            </div>
            <div class='products_label'>
                {% for message in shirt_success %}
                    <p class='green'>{{message}}</p>
                {% endfor %}
                {% for message in shirt_fail %}
                    <p class='red'>{{message}}</p>
                {% endfor %}
                <p>PRODUCTS</p>
            </div>
            <div class='products'>
                <p class='only_desktop'>Products</p>
                {% for product in products %}
                    <div class='product'>
                        <a href='/product/{{product.id}}'><img src='{{product.image_path}}' alt='Product_image'></a>
                        <p class='product_name'>{{product.name}}</p>
                        <p class='product_price'>${{product.cost}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class='footer'>
            <p>Property of Coding Dojo</p>
        </div>
    </div>
</body>
</html>