<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothing Dojo Admin Orders</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminHeaderCSS.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminOrdersCSS.css' %}'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static 'clothing_admin/css/proxima_nova/fonts/fonts.css' %}'/>
    <script>
        $(document).ready(function(){
            $('div.pages a').first().attr('class', 'current')
            $('#search').keyup(function(){
                console.log('Catching key up')
                $.ajax({
                    method:'POST',
                    url:'/admin/searchAPI/',
                    data:$('.searchGroup').serialize()
                })
                .done(function(response){
                    console.log('Recieved response', response)
                    $('tbody').html(response)
                });
            });

            $('.pages a').click(function(){
                $('#page_num').attr('value', $(this).attr('value'));
                $('.pages a').attr('class','')
                $(this).attr('class','current')
                $.ajax({
                    method:'POST',
                    url:'/admin/searchAPI/',
                    data:$('.searchGroup').serialize()
                })
                .done(function(response){
                    console.log('Recieved response', response)
                    $('tbody').html(response)
                });
                return false;
            })
        });
    </script>
</head>
<body>
    <div class='wrapper'>
        <div class='header'>
            <img src='{% static 'clothing_admin/images/logo.png' %}'>
            <p class='title'>Clothing Dojo</p>
            <div class='navbar-top'>
                <a href='/admin/logout'>Logout</a>
                <p>Welcome, Ashwin</p>
            </div>
        </div>
        <div class='navbar-bottom'>
            <div class='row'>
                <a class='col-sm-4 col-md-4 col-lg-4' href='/admin/orders/'>Orders</a>
                <a class='col-sm-4 col-md-4 col-lg-4' href='/admin/products/'>Edit Products</a>
                <a class='col-sm-4 col-md-4 col-lg-4' href='/admin/batchInfo/'>Batch Information</a>
            </div>
        </div>
        <div class='sort_row'>
            <form class='searchGroup'>
                {% csrf_token %}
                <input type='hidden' id='page_num' name='page_num' value='1'>
                <input id='search' type='search' name='adminSearch' placeholder="Search by Name or Email">
                <input class='submit' type='submit' value='Go'>
            </form>
            <div class='pages'>
                {% for page in pages %}
                    <a href='#' value='{{page}}'>{{page}}</a>
                {% endfor %}
            </div>
        </div>
        <div class='holding_table'>
            <table class='table'>
                <thead>
                    <th>Order No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Cohort</th>
                    <th>No. Items</th>
                    <th>Total</th>
                    <th>Date Placed</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><a href='/admin/orderInfo/{{order.id}}/'>{{order.id}}</a></td>
                            <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                            <td>{{order.user.email}}</td>
                            <td>{{order.location.name}}</td>
                            <td>{{order.user.cohort.name}}</td>
                            <td>{{order.num_items}}</td>
                            <td>${{order.total}}</td>
                            <td>{{order.created_at}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <div class='footer'>
            <p>Property of Coding Dojo</p>
        </div>
    </div>
</body>
</html>