<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothing Dojo Admin - View Location {{location.name}}</title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminHeaderCSS.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminViewBatchCSS.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminBatchInfoCSS.css' %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static 'clothing_admin/css/proxima_nova/fonts/fonts.css' %}'/>
</head>
<body>
     <div class='wrapper'>
        <div class='header'>
            <img src='{% static 'clothing_admin/images/logo.png' %}'>
            <p class='title'>Clothing Dojo</p>
            <div class='navbar-top'>
                <a href='/admin/logout'>Logout</a>
                <p>Welcome, Ashwin</p>
            </div>
        </div>
        <div class='navbar-bottom'>
            <div class='row'>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/orders/'>Orders</a>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/products/'>Edit Products</a>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/batchInfo/'>Batch Information</a>
            </div>
        </div>

        <div class='location_info'>
            <p class='title'>{{batch.location.name}} - {{batch.created_at}}</p>
            <p class='billings'>Total Billings: ${{batch_total}}</p>
            <p class='update'>Last Updated: {{batch.updated_at}}</p>
            <p class='status'>Status: {{batch.status}}</p>
            <button onclick="exceller()">DOWNLOAD EXCEL</button>
            
            <table id='batch' class='table'>
                <thead>
                    <th>Product id</th>
                    <!-- <th>Image</th> -->
                    <th>Product Name</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Item Total</th>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.product.id}}</td>
                            <!-- <td><img src='{{item.product.image_path}}' alt='Product image'></td> -->
                            <td>{{item.product.name}}</td>
                            <td>{{item.color.name}}</td>
                            <td>{{item.size}}</td>
                            <td>${{item.product.cost}}</td>
                            <td>{{item.quantity}}</td>
                            <td>${{item.total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% ifequal batch.status 'Open' %}
                <a href='/admin/batchConfirm/{{batch.id}}/'>Finalize Batch</a>
            {% endifequal %}
        </div>
         <div class='footer'>
            <p>Property of Coding Dojo</p>
        </div>
    </div>


    <script>
        function exceller() {
            var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
            base64 = function(s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            },
            format = function(s, c) {
                return s.replace(/{(\w+)}/g, function(m, p) {
                return c[p];
                })
            }
            var toExcel = document.getElementById("batch").innerHTML;
            var ctx = {
            worksheet: name || '',
            table: toExcel
            };
            var link = document.createElement("a");
            link.download = "BatchInfo_{{batch.location.name}}_{{batch.created_at}}.xls";
            link.href = uri + base64(format(template, ctx))
            link.click();
        }
    </script>
</body>
</html>