<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clothing Dojo Admin -{{location.name}} Finalize Confirm </title>
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminHeaderCSS.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'clothing_admin/css/adminBatchInfoCSS.css' %}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href='{% static 'clothing_admin/css/proxima_nova/fonts/fonts.css' %}'/>
</head>
<body>
    <div class='wrapper'>
        <div class='header'>
            <img src='{% static 'clothing_admin/images/logo.png' %}'>
            <p class='title'>Clothing Dojo</p>
            <div class='navbar-top'>
                <a href='/admin/logout'>Logout</a>
                <p>Welcome, Ashwin</p>
            </div>
        </div>
        <div class='navbar-bottom'>
            <div class='row'>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/orders/'>Orders</a>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/products/'>Edit Products</a>
                <a class='col-xs-4 col-sm-4 col-md-4 col-lg-4' href='/admin/batchInfo/'>Batch Information</a>
            </div>
        </div>

        <div class='final_container'>
            <p class='title'>{{batch.location.name}}</p>
            <p>Are you sure you want to finalize this batch?</p>
            <p>This will prevent users from placing orders until the next batch is opened.</p>
            <p class='last'>This action cannot be reverted.</p>
            <a class='blue' href='/admin/batchInfo/viewBatch/{{batch.id}}/'>Go Back</a>
            <a class='red' href='/admin/finalizeBatch/{{batch.id}}/'>Confirm</a>
        </div>

        <div class='footer'>
            <p>Property of Coding Dojo</p>
        </div>
    </div>
</body>
</html>